
form{
max-width: 555px;
border:1px solid #abc;
border-radius: 5px;
padding: 15px;

input{
    margin-bottom: 15px;
}
    .radio-wrap{
        display: flex;
        justify-content: center;
        label{
            margin: 15px;
        }
    }
}